$header-bg-color: #282c34;
$primary-color: #61dafb;
$white-color: #fff;

.App {
  text-align: center;

  .App-header {
    align-items: center;
    background-color: $header-bg-color;
    color: $white-color;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    justify-content: center;
    min-height: 100vh;

    .App-logo {
      height: 40vmin;
      pointer-events: none;
    }

    .App-link {
      color: $primary-color;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
